@import url('https://fonts.googleapis.com/css2?family=Beloved+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100vh;
    width: 100vw;
    font-family: 'Beloved Sans', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #F5ECE4;
    color: #3E2723;
}

.header {
    display: flex;
    background-color: #8D6E63;
}

.links {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-self: center;
}

.header img {
    width: 11vw;
    height: auto;
    margin: 0;
}

.left-links, 
.right-links {
    display: flex;
    gap: 1.5vw;
    align-self: center;
}

.right-links {
    margin-right: 1.3vw;
}

.header .links a {
    text-decoration: none;
    color: #F5ECE4;
}

main {
    max-width: 90%;
    margin: 0 auto;
}

.intro {
    margin: 30px 0 50px 0;
    padding: 0 15px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.intro img {
    border-radius: 12%;
    max-width: 500px;
    height: auto;
    flex: 1 1 500px;
}

.intro-text {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-size: 1.4vw;
}

.intro .intro-text ul {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.intro .intro-text h2 {
    margin-top: 1.5vw ;
}